@import url('https://fonts.googleapis.com/css2?family=Hind&family=Patua+One&display=swap');

.containerproducto {
    background: #EE7700;
    width: 90%;
    height: 14rem;
    margin: 0.725rem;
    font-family: 'Hind', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;  
}
.etiqProd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnagregarproducto {
    font-size: 15px;
    font-family: 'Hind', sans-serif;
    align-items: center;
    background: #592418;
    margin-bottom: 5px;
    width: 100%;
    height: 2.5rem;
    color: rgb(255, 255, 255);
    margin-top: auto;

}

.imageProd {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1px;
}
    
.containerBtn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}