@import url('https://fonts.googleapis.com/css2?family=Hind&family=Patua+One&display=swap');

.containerMenu {
    max-width: 21rem;
    max-height: 21rem;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: outset;
    /*  borde de 1px de ancho y color negro */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    margin: 10px 0px 0px 10px;
    /* superior e izquierdo*/
    padding-bottom: 0.625rem;
    overflow: auto;
    /* para no desbordar el contenedor */
    
}

.btnproducto,
.btnproducto1,
.btnproducto2,
.btnproducto3,
.btnproducto4 {
    background-color: brown;
    width: 6rem;
    height: 6rem;
    margin: 0.625rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: block;

}
/* 
.btnagregarproducto{
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    align-items: center;
    background: #592418;
    margin-bottom: 5px;
    width: 100%;
    height: 1.875rem;
    color: rgb(255, 255, 255);


} */

.titleproducto:active {
    transform: translateY(3px);
    box-shadow: 2px 2px;

}

/* .divproducto {
    background: #592418;
    align-items: center;
    display: flex;
    flex-direction: column;
} */

.btnproducto1 {
    background-image: url("../images/BtnAmericano.png");
}

.btnproducto2 {
    background-image: url("../images/Btnpan.png")
}

.btnproducto3 {
    background-image: url("../images/Btnagua5.png");
}

.btnproducto4 {
    background-image: url("../images/Btnagua7.png");
}

/* .btnproducto1:hover {

    background: #51be36;
    color: white;

} */
.btnproducto1:active,
.btnproducto2:active,
.btnproducto3:active,
.btnproducto4:active {
    transform: translateY(3px);
    box-shadow: 2px 2px;

}

/* .btnproducto1:hover{
 transform: translateY(-0.33em);
} */

.containerBtn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    font-family: 'Hind', sans-serif;
    align-self: center;
    color: #592418;
    font-size: 1.25rem;
}