@import url('https://fonts.googleapis.com/css2?family=Hind&family=Patua+One&display=swap');

.containerproducto {
    background: #EE7700;
    width: 8rem;
    height: 9rem;
    margin: 0.625rem;
    text-align: center;
    font-family: 'Hind', sans-serif;
    align-self: center;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    overflow: auto;
    justify-content: flex-end;
}

.btnagregarproducto {
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    align-items: center;
    background: #592418;
    margin-bottom: 5px;
    width: 100%;
    height: 1.875rem;
    color: rgb(255, 255, 255);
    margin-top: auto;

}

.imageProd {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1px;
}
    
.containerBtn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}