@import url('https://fonts.googleapis.com/css2?family=Hind&family=Patua+One&display=swap');

.btnproducto {
    background-color: brown;
    width: 8rem;
    height: 10rem;
    margin: 0.625rem;
    text-align: center;
    font-family: 'Hind', sans-serif;
    align-self: center;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin: 0 8px;
    flex-direction: column;

}

.btnagregarproducto {
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    align-items: center;
    background: #592418;
    margin-bottom: 5px;
    width: 100%;
    height: 1.875rem;
    color: rgb(255, 255, 255);


}

.divproducto {
    background: #592418;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imageProd {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1px;
}

/* .btnproducto1:hover {

    background: #51be36;
    color: white;

} */
.btnproducto1:active,
.btnproducto2:active,
.btnproducto3:active,
.btnproducto4:active {
    transform: translateY(3px);
    box-shadow: 2px 2px;

}

/* .btnproducto1:hover{
 transform: translateY(-0.33em);
} */

.containerBtn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}