@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.containerHeader{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #592418;
}
.titulomenu {
    color: rgb(255, 255, 255);
    font-family: 'Patua One', sans-serif;
    letter-spacing: 3px;
    margin-right: 3.125rem;
    font-weight: 700;
}
.imagenheader {
    border-radius: 80%;
    width: 6.25rem;
    height: auto;
    margin: 15px 0px 0px 35px;
}