.containerMenu {
    width: 100%;
    height: auto;
    background-color: rgb(250, 250, 250);
    border-style: outset;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    margin: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: auto;     /* para no desbordar el contenedor */
    flex-direction: row;
}

.title {
    margin-left: 0.625rem;
    margin-top: 0.625rem;
    font-family: 'Hind', sans-serif;
    align-self: center;
    color: #592418;
    font-size: 1.25rem;
    white-space: nowrap;
}

.titlecontainer {
    /* align-items: center; */
    /* justify-content: space-between; */
    /* display: flex; */
}

@media (min-width: 535px) and (max-width: 1045px){
  .containerMenu{
    width: 100%;
    height: auto;
    background-color: rgb(250, 250, 250);
    border-style: outset;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    margin: 10px;
    display: flex;
    overflow: auto;     /* para no desbordar el contenedor */
    flex-direction: column;
    align-items: center;
  }
  }