@import url('https://fonts.googleapis.com/css2?family=Hind&family=Patua+One&display=swap');
.root {
    --foreground-rgb: 89, 36, 24; /* Se define color en primer plano header/text */
    --background-start-rgb: 245, 235, 220;  /* Se define color para el background */
    --background-end-rgb: 242, 254, 245;  /* Se define color para las secciones */
    --textcolor-header-rgb: 255, 255, 255;  /* Se define color de texto en header y background de buttons */
    --textcolor-header-order-rgb: 0, 0, 0;  /* Se define color de texto en header y background de buttons */
    --background-button1-orders-rgb: 229, 135, 110;  /* Se define color de background1 para boton1 en toma de pedidos */
    --background-button2-orders-rgb: 214, 35, 0;  /* Se define color de background2 para boton2 en toma de pedidos */
    --background-buttons-products-rgb: 238, 119, 0;  /* Se define color de background2 para boton2 en toma de pedidos */
    
}
.containerOrders {
    margin: 15px 15px 8px 15px;
    padding: 20px;
    width: 50%;
    height: 760px;
    background: #FEFBF2;
    border-style: solid;
    border-color: #592418;
    border-width: 1px;
    float: right;
    font-family: 'Hind';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerOrdersHeader {
    font-weight: bold;
    font-size: 20px;
    height: 80px;
}
.lineResumeOrders {  /*ok*/
    /* margin-top: 2px; */
    border-bottom-style: dashed;
}
.containerDetailOrders {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 20px;
    border-width: 0.25px;
    border-color: #592418;
    border-bottom: solid;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}

.detailProductscontainer{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}

.resumeOrders {
    display: flex;
    flex-direction: row;
    justify-content:flex-end
}

.labelResumeOrders {    /*ok*/
    padding:  15px 0px 15px 15px;
    margin-left: 10%;
    float: left;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.dataLabelResumeOrders {    /*ok*/
    color: #592418;
    padding: 15px 0px 15px 15px;
    float: right;
    width: 120px;
    margin-right: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    overflow: auto;

}
.totalprice{    /*ok*/
    border-top-style: solid ;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button1 { /* OK */
    background: #E5876E;
    color: #592418;
    width: 200px;
    height: 62px;
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    border-style: ridge;
    border-color: #ffff;
    border-radius: 5px;
    border-width: 4px;
    align-self: flex-end;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 4px 4px;
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
}
.optMesero{
    font-family: 'Hind', sans-serif;
    font-family: 1.25rem;
    width: 20rem;
    height: 2rem;
    font-weight: bold;
    padding-left: 0.5rem;
}
.optturno{
    height: 2rem;
    width: 2rem;
    font-family: 'Hind', sans-serif;
    
}
.button1:hover { 
    background: #ffff;
    border-color: #D62300;
    color: #D62300;
    font-weight: bold;
}

.button { /* OK */
    background: #D62300;
    color: #ffff;
    width: 200px;
    height: 62px;
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    border-style: ridge;
    border-color: #ffff;
    border-radius: 5px;
    border-width: 4px;
    align-self: flex-end;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 4px 4px;
    cursor: pointer;
    float: left;
    font-family: 'Hind', sans-serif;
}

.button:hover { 
    background: #ffff;
    border-color: #D62300;
    color: #D62300;
    font-weight: bold;
}
