@import url('https://fonts.googleapis.com/css2?family=Hind&family=Patua+One&display=swap');
.root {
    --foreground-rgb: 89, 36, 24; /* Se define color en primer plano header/text */
    --background-start-rgb: 245, 235, 220;  /* Se define color para el background */
    --background-end-rgb: 242, 254, 245;  /* Se define color para las secciones */
    --textcolor-header-rgb: 255, 255, 255;  /* Se define color de texto en header y background de buttons */
    --textcolor-header-order-rgb: 0, 0, 0;  /* Se define color de texto en header y background de buttons */
    --background-button1-orders-rgb: 229, 135, 110;  /* Se define color de background1 para boton1 en toma de pedidos */
    --background-button2-orders-rgb: 214, 35, 0;  /* Se define color de background2 para boton2 en toma de pedidos */
    --background-buttons-products-rgb: 238, 119, 0;  /* Se define color de background2 para boton2 en toma de pedidos */
    
}
.containerOrders {
    margin: 20px;
    padding: 20px;
    height: 960px;
    background: rgb(var(--background-end-rgb));
    border-color: rgb(var(--foreground-rgb));
    border-width: medium;
    float: right;
    font-family: 'Hind', sans-serif
    /* color: #592418; */
    
    /* background: rgb(var(--background-end-rgb));
    color: rgb(var(--textcolor-header-order-rgb));
    border-color: rgb(var(--foreground-rgb)); */

}
.containerResumeOrder {
    margin: 10px;
    background-color: azure;
}
/* .containerDetailOrders{
    width: 40px;
    height: 400px;
    margin: 20px;
    /* color: rgb(var(--textcolor-header-order-rgb)); */
    /* background: var(--foreground-rgb); */
/* } */
.lineResumeOrders{
    color:blueviolet;
}
.labelResumeOrders {
    background-color:rgb(198, 231, 108);
    padding:  15px  0px 15px 15px;
    margin-left: 40px;
    float: left;
    text-align: right;
}
/* .labelResumeOrders > p {
    text-align: right;
    width: 100px;
} */
.dataLabelResumeOrders {
    background-color: rgb(121, 121, 233); 
    padding: 15px;
    float: right;
    width: 120px;
    margin-right: 52px;
    text-align: right;
}

.containerButtonsOrders {
margin-top: 10px;
background-color: brown;
}

/* .buttonsOrders {
    margin: 20px;
    /* display: flex;
} */

/* .cancelOrder {
    margin: 5px;
}
.sendOrder {
    margin: 5px;
    background: #51be36;
} */